In [ ]:
#colors method

colours = ["red", "green", "yellow", "blue", "red"]

print("Index of blue:", colours.index("blue"))
print("Count of red:", colours.count("red"))

copy_colours = colours.copy()
colours.append("black")

print("Original:", colours)
print("Copy:", copy_colours)

Index of blue: 3
Count of red: 2
Original: ['red', 'green', 'yellow', 'blue', 'red', 'black']
Copy: ['red', 'green', 'yellow', 'blue', 'red']

In [ ]:
# cubes comperhension

cubes = [x*x*x for x in range(2,21)]
print(cubes)

[8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [ ]:
# names sort ignoring case

names = ["Eric", "anna", "Sophie", "sam"]

names.sort(key=lambda n: n.upper())
print(names)

['anna', 'Eric', 'sam', 'Sophie']

In [ ]:
# sorthing name

names = ["Eric", "anna", "Sophie", "sam"]

names.sort()
print(names)

['Eric', 'Sophie', 'anna', 'sam']

In [ ]:
# Append next 3 squares
squares = [4, 9, 16, 25]
squares.append(36)
squares.append(49)
squares.append(64)

print(squares)

[4, 9, 16, 25, 36, 49, 64]

In [ ]:
# Extend with next 3 squares starting at 11Ã—11 = 121

squares = [4, 9, 16, 25, 36, 49, 64]
squares.extend([121, 144, 169])

print(squares)

[4, 9, 16, 25, 36, 49, 64, 121, 144, 169]

In [ ]:
# Insert 2 at beginning

squares = [4, 9, 16, 25, 36, 49, 64]

squares.insert(0, 2)

print(squares)

[2, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
# square loop

import math

squares = [4, 9, 16, 25]

for s in squares:
    print(math.sqrt(s))

2.0
3.0
4.0
5.0

In [ ]:
# square pop

squares = [4, 9, 16, 25]

last = squares.pop()
print("Popped:", last)
print("List now:", squares)

first = squares.pop(0)
print("Popped first:", first)
print("List now:", squares)

Popped: 25
List now: [4, 9, 16]
Popped first: 4
List now: [9, 16]

In [ ]:
# removing squares

squares = [2, 4, 9, 16, 25, 36, 49, 64]

squares.remove(49)
print("After removing 49:", squares)


lst = [1,2,3,1,2]
lst.remove(2)  # removes first 2
print("Removing 2 from [1,2,3,1,2]:", lst)

After removing 49: [2, 4, 9, 16, 25, 36, 64]
Removing 2 from [1,2,3,1,2]: [1, 3, 1, 2]

In [ ]:
# reverse square

squares = [4, 9, 16, 25, 36]
squares.reverse()
print(squares)

[36, 25, 16, 9, 4]

In [ ]:
# tupple address

address = ("12", "Main Street", "AB12 3CD")
print(address)

house, street, postcode = address
print(house, street, postcode)

('12', 'Main Street', 'AB12 3CD')
12 Main Street AB12 3CD

In [ ]:
# unpacking tuple

address = ("12", "Main Street", "AB12 3CD")

print(*address)
print(address)

12 Main Street AB12 3CD
('12', 'Main Street', 'AB12 3CD')