In [1]:
# Variable assignment and augmented assignment
total = 100
print("The total is", total)

total += 99
print("The total is now", total)

total -= 1
print("The total is", total)

total *= 4
print("The total is", total)

total /= 2
print("The total is", total)

total = 98.2
count = 5
average = total / count
print("The average is", average)

The total is 100
The total is now 199
The total is 198
The total is 792
The total is 396.0
The average is 19.64

In [2]:
# Using type() and operator behavior
print(type(False))
print(type(1000))
print(type(100.111))
print(type("Hello"))
print(type(True))
print(type(100 / 5))
print(type(100 // 5))

print("10" + "10")
print("ABC" * 10)

<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'int'>
1010
ABCABCABCABCABCABCABCABCABCABC

In [3]:
# Calling print() and len() functions
name = "Anugraha Parajuli"
address = "Kathmandu, Nepal"
contact = "anugraha@email.com"

print(name)
print(address)
print(contact)
print("Length of name:", len(name))

Anugraha Parajuli
Kathmandu, Nepal
anugraha@email.com
Length of name: 17

In [4]:
# User input and numeric conversion
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Product is", a * b)

Product is 30

In [7]:
# Using triple quoted strings
print("""This text spans three lines,
and includes both single ('),
and double quotes (").""")

This text spans three lines,
and includes both single ('),
and double quotes (").

In [8]:
# Indexing and slicing strings
surname = "Palin"
print(surname[2])

# print(surname[9])  # This would cause an error

print(surname[-2])
print(surname[1:])
print(surname[:-1])

l
i
alin
Pali

In [9]:
# Lists, slicing, and mutability
primes = [2, 3, 5, 7, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
print(primes[:4])

names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]
names[-1:-1] = ["Tim", "Bill"]
print(names)

nums = [1, 2, 3] * 5
print(nums)

[2, 3, 5, 7]
['Terry', 'John', 'Michael', 'Eric', 'Terry', 'Tim', 'Bill', 'Graham']
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]